* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

.loader {
  margin-left: 150px;
}

.header {
  max-width: 100%;

  .top__header {
    max-width: 100%;
    display: flex;
    height: 48px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    flex-shrink: 0;
    background-color: var(--Button, #000);

    h2 {
      color: var(--Text, #fafafa);

      font-family: Poppins;
      justify-content: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }

    .shop {
      color: var(--Text, #fafafa);
      text-align: center;
      font-family: Poppins;
      justify-content: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      text-decoration-line: underline;
    }

    select {
      border: none;
      padding-left: 150px;
      background-color: transparent;
      color: white;

      option {
        color: black;
      }
    }
  }

  .bottom__header {
    margin-top: 40px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    .nav__logo {
      display: flex;
      width: 118px;
      height: 24px;
      justify-content: center;
      align-items: center;
    }

    .nav_link_list {
      display: flex;
      align-items: flex-start;
      gap: 48px;

      .nav__link {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        color: var(--Text2, #000);
        text-align: center;

        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .nav__link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease;
      }

      .nav__link:hover::before {
        width: 100%;
      }
    }

    .buttons__card {
      display: flex;
      align-items: center;
      gap: 24px;

      .input {
        display: flex;
        width: 230px;
        padding: 7px 1px 7px 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: var(--Secondary, #f5f5f5);

        .search__input {
          input {
            display: flex;
            border: none;
            outline: none;
            background-color: transparent;
            color: var(--Text2, #000);

            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; 
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.section {
  max-width: 100%;
  border-top: 1px solid black;

  .vaucher_card {
    display: flex;
    margin-top: 40px;
    padding-left: 64px;
    align-items: center;
    gap: 20px;
    height: 344px;
    background: var(--Text2, #000);

    .apple_14 {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 20px;

      img {
        width: 40px;
        height: 49px;
      }

      h2 {
        color: var(--Text, #fafafa);
        text-align: center;

        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
      }
    }

    h1 {
      color: var(--Text, #fafafa);
      margin-bottom: 20px;

      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px; 
      letter-spacing: 1.92px;
    }

    .shop__now {
      display: flex;
      position: relative;
      align-items: center;

      .__now {
        color: var(--Text, #fafafa);
        align-items: center;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    .__now::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1.5px;
      background-color: rgb(250, 247, 247);
      transition: width 0.3s ease;
    }

    .__now:hover::before {
      width: 30%;
    }
  }
  .vaucher_img {
    margin-left: 80px;
  }

  .catigories {
    margin-top: 100px;

    .__catigoriya {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      h3 {
        color: var(--Secondary-2, #db4444);

        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
      }
    }

    h1 {
      color: var(--Text2, #000);

      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px; /* 133.333% */
      letter-spacing: 1.44px;
    }
  }

  .catigories__list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 60px;
    border-bottom: 1px solid rgb(54, 53, 53);
    padding-bottom: 70px;

    .list {
      display: flex;
      width: 170px;
      height: 145px;
      padding: 25px 56px 24px 55px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.3);

      p {
        color: var(--Text2, #000);

        /* Title/16PX Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
    }

    .list:hover {
      transition: 0.5s ease;
      scale: 1.05;
      background-color: orangered;

      svg {
        path {
          stroke: white;
        }
        line {
          stroke: white;
        }
      }

      p {
        color: white;
      }
    }
  }

  .products {
    margin-top: 80px;

    .our__product {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        color: var(--Secondary-2, #db4444);

        /* Title/16PX Semibold */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
      }
    }

    .explore {
      display: flex;
      margin-top: 30px;
      justify-content: space-between;

      h1 {
        color: var(--Text2, #000);

        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 1.44px;
      }

      .icons {
        display: flex;
        gap: 5px;

        .icon {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: #e3e2e2;
          padding: 10px;

          svg {
            align-items: center;
            justify-content: center;
          }
        }
        .icon:hover {
          cursor: pointer;
        }
      }
    }

    .product__card {
      display: flex;
      margin-top: 60px;

      .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 47px;
      }

      .__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .img {
          width: 270px;
          height: 250px;
          padding-left: 70px;
          padding-top: 30px;
          //   display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background: var(--Secondary, #f5f5f5);

          img {
            display: flex;
            width: 185px;
            height: 180px;
            margin-left: -30px;
            flex-shrink: 0;
          }

          .like__img > img {
            width: 34px;
            height: 34px;
            margin-left: 160px;
            margin-top: -200px;
            flex-shrink: 0;
            border-radius: 50%;
            fill: var(--Primary, #fff);
          }
          .eas-img > img {
            width: 34px;
            height: 34px;
            margin-top: 3px;
            margin-left: 160px;
            flex-shrink: 0;
            border-radius: 50%;
            fill: var(--Primary, #fff);
          }

          h3 {
            color: #000;

            /* Title/16PX Medium */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }
        }
        .sum {
          display: inline-flex;
          align-items: center;
          gap: 8px;

          .price {
            display: flex;
            color: var(--Secondary-2, #db4444);

            /* Title/16PX Medium */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }

          h4 {
            color: var(--Text2, #000);

            /* Title/14PX Semibold */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px; /* 150% */
            opacity: 0.5;
          }
        }
      }

      .img::before {
        content: "Add To Card";
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 50px;
        background-color: rgb(18, 4, 4);
        transition: width 0.3s ease;
      }

      .img:hover::before {
        width: 100%;
      }
      .img::before {
        content: "Add To Card";
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 50px;
        background-color: rgb(18, 4, 4);
        transition: width 0.3s ease;
      }

      .img:hover::before {
        width: 100%;
      }
    }

    .view__all {
      display: flex;
      padding: 16px 48px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;

      margin-left: 500px;
      margin-top: 60px;
      border-radius: 4px;
      background: var(--Button2, #db4444);

      p {
        color: var(--Text, #fafafa);

        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    .view__all:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }

  .music {
    width: 1220px;
    display: flex;
    height: 500px;
    margin-top: 70px;
    flex-shrink: 0;
    background: var(--Button, #000);

    .music__text {
      padding-left: 60px;

      h4 {
        color: var(--Button1, #0f6);
        padding-top: 70px;
        /* Title/16PX Semibold */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
      }

      h1 {
        color: var(--Text, #fafafa);

        /* Heading/48PX SemiBold */
        font-family: Inter;
        font-size: 48px;
        padding-top: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px; /* 125% */
        letter-spacing: 1.92px;
      }

      .data {
        display: inline-flex;
        align-items: flex-start;
        gap: 24px;
        padding-top: 32px;

        .time {
          width: 62px;
          height: 62px;
          flex-shrink: 0;
          align-items: center;
          top: 5px;
          text-align: center;
          border-radius: 50%;
          background-color: var(--Primary, #fff);

          h6 {
            color: var(--Text2, #000);
            padding-top: 10px;
            /* Title/16PX Semibold */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 125% */
          }

          p {
            color: var(--Text2, #000);
            font-family: Poppins;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 163.636% */
          }
        }
      }

      button {
        display: block;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        border: none;
        gap: 10px;
        border-radius: 4px;
        background: var(--Button1, #0f6);

        p {
          color: var(--Text, #fafafa);

          /* Title/16PX Medium */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }

      button:hover {
        cursor: pointer;
        scale: 1.05;
      }
    }
    .music__img {
      margin-top: 80px;
      margin-right: 50px;

      img {
        width: 568px;
        z-index: 555;
        opacity: 6;
        height: 330px;
        background-color: transparent;
        flex-shrink: 0;
      }
    }
  }

  .featured {
    margin-top: 60px;

    .__featured {
      display: flex;
      gap: 10px;
      align-items: center;

      p {
        color: var(--Secondary-2, #db4444);

        /* Title/16PX Semibold */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
      }
    }

    .new__arrial {
      margin-top: 30px;
      h1 {
        color: var(--Text2, #000);

        /* Heading/36PX SemiBold */
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px; /* 133.333% */
        letter-spacing: 1.44px;
      }
    }

    .arrial__cards {
      display: flex;
      margin-top: 60px;
      gap: 30px;

      .left__cards {
        width: 570px;
        height: 600px;
        border-radius: 4px;
        background: var(--Button, #000);

        img {
          width: 511px;
          height: 511px;
          flex-shrink: 0;
          margin-top: 89px;
          margin-left: 29px;
          align-items: center;
          justify-content: center;
        }

        .playstation__text {
          margin-top: -150px;
          margin-left: 32px;

          h2 {
            color: var(--Text, #fafafa);

            /* Heading/24PX SemiBold */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 100% */
            letter-spacing: 0.72px;
          }

          p {
            color: var(--Text, #fafafa);

            /* Title/14PX Regular */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            padding-bottom: 14px;
            line-height: 21px; /* 150% */
            padding-top: 16px;
          }

          .shop__cards {
            color: #fff;
            position: relative;

            /* Title/16PX Medium */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }

          .shop__cards::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1.5px;
            background-color: rgb(250, 247, 247);
            transition: width 0.3s ease;
          }

          .shop__cards:hover::before {
            width: 100%;
          }
        }
      }

      .right__cards {
        .__top {
          width: 600px;
          height: 284px;
          border-radius: 4px;
          background: #0d0d0d;
          display: flex;

          img {
            // width: 100%;
            margin-left: 154px;
          }

          .top__text {
            padding-top: 138px;
            margin-left: -550px;
            // padding-left: 24px;
            z-index: 555;
            // display: flex;
            h1 {
              color: var(--Text, #fafafa);

              /* Heading/24PX SemiBold */
              font-family: Inter;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px; /* 100% */
              letter-spacing: 0.72px;
            }

            p {
              color: var(--Text, #fafafa);

              /* Title/14PX Regular */
              font-family: Poppins;
              padding-top: 16px;
              padding-bottom: 16px;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px; /* 150% */
            }

            .shop__cards {
              color: #fff;
              position: relative;

              /* Title/16PX Medium */
              font-family: Poppins;
              font-size: 16px;
              padding-top: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
            }

            .shop__cards::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 1.5px;
              background-color: rgb(250, 247, 247);
              transition: width 0.3s ease;
            }

            .shop__cards:hover::before {
              width: 100%;
            }
          }
        }

        .__bottom {
          display: flex;
          padding-top: 32px;
          gap: 30px;

          .speakers {
            width: 284px;
            height: 284px;
            border-radius: 4px;
            background: var(--Text2, #000);

            img {
              padding: 32px 40px;
            }

            .speak__text {
              margin-top: -110px;
              padding-left: 32px;
              h1 {
                color: var(--Text, #fafafa);

                /* Heading/24PX SemiBold */
                font-family: Inter;
                font-size: 24px;
                padding-bottom: 8px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 100% */
                letter-spacing: 0.72px;
              }

              p {
                color: var(--Text, #fafafa);

                /* Title/14PX Regular */
                font-family: Poppins;
                font-size: 14px;
                padding-bottom: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px; /* 150% */
              }

              .shop__cards {
                color: #fff;
                position: relative;

                /* Title/16PX Medium */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
              }

              .shop__cards::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1.5px;
                background-color: rgb(250, 247, 247);
                transition: width 0.3s ease;
              }

              .shop__cards:hover::before {
                width: 100%;
              }
            }
          }

          .parfume {
            width: 284px;
            height: 284px;
            border-radius: 4px;
            background: var(--Text2, #000);

            img {
              padding: 32px 40px;
            }

            .parfum__text {
              margin-top: -95px;
              padding-left: 32px;
              h1 {
                color: var(--Text, #fafafa);

                /* Heading/24PX SemiBold */
                font-family: Inter;
                font-size: 24px;
                padding-bottom: 8px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 100% */
                letter-spacing: 0.72px;
              }

              p {
                color: var(--Text, #fafafa);

                /* Title/14PX Regular */
                font-family: Poppins;
                font-size: 14px;
                padding-bottom: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px; /* 150% */
              }

              .shop__cards {
                color: #fff;
                position: relative;

                /* Title/16PX Medium */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
              }

              .shop__cards::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1.5px;
                background-color: rgb(250, 247, 247);
                transition: width 0.3s ease;
              }

              .shop__cards:hover::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .service {
    display: flex;
    align-items: center;
    gap: 95px;
    margin-top: 140px;
    text-align: center;
    justify-content: center;

    img {
      // align-items: center;
      // justify-content: center;
      margin-bottom: 16px;

      h4 {
        color: #000;

        /* Title/20PX Semibold */
        font-family: Poppins;
        font-size: 20px;
        margin-bottom: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 140% */
      }

      p {
        color: #000;
        text-align: center;

        /* Title/14PX Regular */
        font-family: Poppins;
        font-size: 14px;
        // margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
      }
    }
  }
}

footer {
  max-width: 100%;
  height: 440px;
  margin-top: 140px;
  background: var(--Button, #000);

  .footer__link__list {
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 87px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      .logo__link > svg {
        display: flex;
        align-items: flex-start;
        gap: 24px;
      }

      h2 > a {
        color: var(--Text, #fafafa);

        /* Title/20PX Medium */
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
      }

      h5 > a {
        color: var(--Text, #fafafa);

        /* Title/20PX Medium */
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
      }

      p {
        color: var(--Text, #fafafa);

        /* Title/16PX Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }

      p > a {
        color: var(--Text, #fafafa);

        /* Title/16PX Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }

      input {
        display: flex;
        width: 217px;
        padding: 12px 0px 12px 16px;
        align-items: center;
        gap: 32px;
        background-color: transparent;
        color: var(--Text, #fafafa);
        border-radius: 4px;
        border: 1.5px solid var(--Text, #fafafa);
      }
    }
  }

  .bottom__footer {
    margin-top: 60px;

    p {
      color: var(--Primary, #fff);

      /* Title/16PX Regular */
      font-family: Poppins;
      font-size: 16px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
}




