* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  width: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 135px;
  padding-right: 135px;
}

.loader {
  margin-left: 150px;
}

.header {
  width: 100%;
  z-index: 555;
}
.header .top__header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  z-index: 100;
}
.header .top__header .flex__top {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 231px;
}
.header .top__header .flex__top .left__top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .top__header .flex__top .left__top span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.header .top__header .flex__top .left__top .top-header__link {
  color: #fafafa;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration-line: underline;
}
.header .top__header .flex__top .right__top select {
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  outline: none;
  padding: 13px;
  cursor: pointer;
  transition: all 0.6s;
}
.header .top__header .flex__top .right__top select:hover {
  color: rgba(4, 76, 159, 0.859);
}
.header .navbar {
  margin-bottom: 40px;
  position: fixed;
  top: 50px;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.035), 0px 0px 80px rgba(0, 0, 0, 0.07);
}
.header .navbar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header .navbar .navigation .nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 367px;
  gap: 48px;
}
.header .navbar .navigation .nav__list-items__link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header .navbar .navigation .nav__list-items__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}
.header .navbar .navigation .nav__list-items__link:hover::before {
  width: 100%;
  background-color: red;
}
.header .navbar .navigation .nav__list-items__link:hover {
  color: red;
}
.header .navbar .navigation .form__nav {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.header .navbar .navigation .form__nav .input__search {
  padding: 7px 12px 7px 20px;
  border-radius: 4px;
  background: var(--Secondary, #f5f5f5);
}
.header .navbar .navigation .form__nav .input__search #search {
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--Text2, #000);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.header .navbar .navigation .form__nav .input__search button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 4px;
}
.header .navbar .navigation .form__nav .nav__icons {
  padding: 7px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}
.header .navbar .navigation .form__nav .nav__icons:hover i {
  color: red;
}
.header .navbar .navigation .form__nav .nav__bars {
  display: none;
}
.header .menu__navbar {
  display: block !important;
  width: 100%;
  transform: translateY(-500px);
  transition: transform 0.8s ease-in-out;
}
.header .menu__navbar.show {
  transform: translateY(0);
}

main {
  width: 100%;
}
main .hero {
  background: #000;
  margin-top: 170px;
  margin-bottom: 94px;
}
main .hero .hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .hero .hero__content .left__content {
  width: 35%;
  height: 100%;
  padding-top: 58px;
  padding-bottom: 47px;
  padding-left: 64px;
}
main .hero .hero__content .left__content-head {
  margin-bottom: 20px;
  height: 49px;
  width: 190px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
main .hero .hero__content .left__content-head .content-head__img {
  width: 40px;
  height: 49px;
}
main .hero .hero__content .left__content-head .content-head__text {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
main .hero .hero__content .left__content-body__heading {
  color: #fff;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  width: 100%;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
  margin-bottom: 22px;
}
main .hero .hero__content .left__content-body__link {
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.6s;
  display: inline-block;
  padding: 12px 0px;
}
main .hero .hero__content .left__content-body__link:hover {
  text-decoration: underline;
}
main .hero .hero__content .left__content-body__link:hover span {
  transform: scaleX(1.2);
}
main .hero .hero__content .right__content {
  width: 496px;
  height: 352px;
}
main .hero .hero__content .right__content img {
  width: 100%;
}
main .catigoriya .__catigoriya {
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
main .catigoriya .__catigoriya .cat__heading {
  color: var(--Secondary-2, #db4444);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
main .heading_categ {
  color: var(--Text2, #000);
  width: 100%;
  /* Heading/36PX SemiBold */
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
main .catigories__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px;
  margin-top: 60px;
  border-bottom: 1px solid rgb(54, 53, 53);
  padding-bottom: 70px;
}
main .catigories__list .list {
  display: flex;
  width: 170px;
  height: 145px;
  padding: 25px 56px 24px 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
main .catigories__list .list p {
  color: var(--Text2, #000);
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
main .catigories__list .list:hover {
  transition: 0.5s ease;
  scale: 1.05;
  background-color: orangered;
}
main .catigories__list .list:hover svg path {
  stroke: white;
}
main .catigories__list .list:hover svg line {
  stroke: white;
}
main .catigories__list .list:hover p {
  color: white;
}

@media screen and (max-width: 768.9px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0px 20px !important;
  }
  .header {
    width: 100% !important;
  }
  .header .top__header {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    z-index: 100;
  }
  .header .top__header .flex__top {
    justify-content: space-between;
    gap: 231px;
  }
  .header .top__header .flex__top .left__top {
    justify-content: start;
    width: 50%;
  }
  .header .top__header .flex__top .left__top span {
    display: none !important;
  }
  .header .top__header .flex__top .left__top .top-header__link {
    color: #fafafa;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration-line: underline;
  }
  .header .top__header .flex__top .right__top {
    width: 50%;
  }
  .header .top__header .flex__top .right__top select {
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    outline: none;
    padding: 13px;
    cursor: pointer;
    transition: all 0.6s;
  }
  .header .top__header .flex__top .right__top select:hover {
    color: rgba(4, 76, 159, 0.859);
  }
  .header .navbar {
    margin-bottom: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.035), 0px 0px 80px rgba(0, 0, 0, 0.07);
  }
  .header .navbar .navigation {
    display: flex;
    align-items: center;
    height: 100px;
  }
  .header .navbar .navigation .nav__list {
    list-style: none;
    display: none !important;
  }
  .header .navbar .navigation .nav__list-items__link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .header .navbar .navigation .nav__list-items__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
  }
  .header .navbar .navigation .nav__list-items__link:hover::before {
    width: 100%;
    background-color: red;
  }
  .header .navbar .navigation .nav__list-items__link:hover {
    color: red;
  }
  .header .navbar .navigation .form__nav {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
  .header .navbar .navigation .form__nav .input__search {
    display: none !important;
    padding: 7px 12px 7px 20px;
    border-radius: 4px;
    background: var(--Secondary, #f5f5f5);
  }
  .header .navbar .navigation .form__nav .input__search #search {
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--Text2, #000);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .header .navbar .navigation .form__nav .input__search button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 4px;
  }
  .header .navbar .navigation .form__nav .nav__icons {
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    background-color: #000;
    border-radius: 12px;
    color: #fff;
  }
  .header .navbar .navigation .form__nav .nav__icons:hover {
    background-color: red;
  }
  .header .navbar .navigation .form__nav .nav__icons:hover i {
    color: #fff;
  }
  .header .navbar .navigation .form__nav .nav__bars {
    padding: 12px 20px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    background-color: #000;
    border-radius: 12px;
    color: #fff;
    display: block;
  }
  .header .menu__navbar {
    display: none;
    position: fixed;
    top: 130px;
    padding: 4rem;
    z-index: 60;
    width: 100%;
    background-color: #fafafa;
    color: #000;
  }
  .header .menu__navbar .menu__navigation {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .header .menu__navbar .menu__navigation .menu__list {
    margin-bottom: 25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  .header .menu__navbar .menu__navigation .menu__list-items__link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 12px;
    line-height: 24px;
  }
  .header .menu__navbar .menu__navigation .menu__list-items__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
  }
  .header .menu__navbar .menu__navigation .menu__list-items__link:hover::before {
    width: 100%;
    background-color: red;
  }
  .header .menu__navbar .menu__navigation .menu__list-items__link:hover {
    color: red;
  }
  .header .menu__navbar .menu__navigation .form__menu {
    width: 100%;
  }
  .header .menu__navbar .menu__navigation .form__menu .input__search {
    display: flex;
    width: 100% !important;
    justify-content: flex-start;
    padding: 12px;
    background-color: #db4444;
    border: none;
    border-radius: 8px;
  }
  .header .menu__navbar .menu__navigation .form__menu .input__search .search {
    padding: 7px;
    background: transparent;
    border: none;
    color: white !important;
    color: #000;
    outline: none;
    width: 90% !important;
  }
  .header .menu__navbar .menu__navigation .form__menu .input__search .search::-moz-placeholder {
    color: #fff;
  }
  .header .menu__navbar .menu__navigation .form__menu .input__search .search::placeholder {
    color: #fff;
  }
  .header .menu__navbar .menu__navigation .form__menu .input__search .btn__sear {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
  main {
    margin-top: 130px;
    width: 100%;
  }
  main .hero {
    width: 100% !important;
    padding: 20px;
    color: #fff !important;
    height: 600px !important;
    margin-bottom: 94px;
  }
  main .hero__content {
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 0px !important;
  }
  main .hero__content .left__content {
    width: 100% !important;
    padding: 10px !important;
  }
  main .hero__content .left__content-head {
    width: 100% !important;
    justify-content: center !important;
  }
  main .hero__content .left__content-body {
    width: 100% !important;
  }
  main .hero__content .left__content-body__heading {
    text-align: center;
  }
  main .hero__content .left__content-body__link {
    text-align: center;
  }
  main .hero__content .right__content {
    width: 100% !important;
  }
  main .hero__content .right__content img {
    width: 100% !important;
  }
  main .catigories__list {
    width: 100%;
  }
  main .catigories__list .list {
    display: flex;
    width: 100% !important;
    height: 145px;
    padding: 25px 56px 24px 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  main .catigories__list .list p {
    color: var(--Text2, #000);
    /* Title/16PX Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  main .catigories__list .list:hover {
    transition: 0.5s ease;
    scale: 1.05;
    background-color: orangered;
  }
  main .catigories__list .list:hover svg path {
    stroke: white;
  }
  main .catigories__list .list:hover svg line {
    stroke: white;
  }
  main .catigories__list .list:hover p {
    color: white;
  }
}
.section {
  max-width: 100%;
  border-top: 1px solid black;
}
.section .vaucher_img {
  margin-left: 80px;
}
.section .catigories {
  margin-top: 100px;
}
.section .catigories .__catigoriya {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.section .catigories .__catigoriya h3 {
  color: var(--Secondary-2, #db4444);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.section .catigories h1 {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.section .products {
  margin-top: 80px;
}
.section .products .our__product {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section .products .our__product p {
  color: var(--Secondary-2, #db4444);
  /* Title/16PX Semibold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.section .products .explore {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.section .products .explore h1 {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 1.44px;
}
.section .products .explore .icons {
  display: flex;
  gap: 5px;
}
.section .products .explore .icons .icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #e3e2e2;
  padding: 10px;
}
.section .products .explore .icons .icon svg {
  align-items: center;
  justify-content: center;
}
.section .products .explore .icons .icon:hover {
  cursor: pointer;
}
.section .products .product__card {
  display: flex;
  flex-wrap: wrap !important;
  margin-top: 60px;
}
.section .products .product__card .wrapper {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between;
}
.section .products .product__card .__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .products .product__card .__card .img {
  width: 270px;
  height: 250px;
  padding-left: 70px;
  padding-top: 30px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--Secondary, #f5f5f5);
}
.section .products .product__card .__card .img img {
  display: flex;
  width: 185px;
  height: 180px;
  margin-left: -30px;
  flex-shrink: 0;
}
.section .products .product__card .__card .img .like__img > img {
  width: 34px;
  height: 34px;
  margin-left: 160px;
  margin-top: -200px;
  flex-shrink: 0;
  border-radius: 50%;
  fill: var(--Primary, #fff);
}
.section .products .product__card .__card .img .eas-img > img {
  width: 34px;
  height: 34px;
  margin-top: 3px;
  margin-left: 160px;
  flex-shrink: 0;
  border-radius: 50%;
  fill: var(--Primary, #fff);
}
.section .products .product__card .__card .img h3 {
  color: #000;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .products .product__card .__card .sum {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.section .products .product__card .__card .sum .price {
  display: flex;
  color: var(--Secondary-2, #db4444);
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .products .product__card .__card .sum h4 {
  color: var(--Text2, #000);
  /* Title/14PX Semibold */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
  opacity: 0.5;
}
.section .products .product__card .img::before {
  content: "Add To Card";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 50px;
  background-color: rgb(18, 4, 4);
  transition: width 0.3s ease;
}
.section .products .product__card .img:hover::before {
  width: 100%;
}
.section .products .product__card .img::before {
  content: "Add To Card";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 50px;
  background-color: rgb(18, 4, 4);
  transition: width 0.3s ease;
}
.section .products .product__card .img:hover::before {
  width: 100%;
}
.section .products .view__all {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  margin-top: 60px;
  border-radius: 4px;
  background: var(--Button2, #db4444);
}
.section .products .view__all p {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.section .products .view__all:hover {
  scale: 1.05;
  cursor: pointer;
}
.section .music {
  display: flex;
  margin-top: 70px;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  background: var(--Button, #000);
}
.section .music .music__text {
  padding-left: 60px;
}
.section .music .music__text h4 {
  color: var(--Button1, #0f6);
  padding-top: 70px;
  /* Title/16PX Semibold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.section .music .music__text h1 {
  color: var(--Text, #fafafa);
  /* Heading/48PX SemiBold */
  font-family: Inter;
  font-size: 48px;
  padding-top: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
}
.section .music .music__text .data {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding-top: 32px;
}
.section .music .music__text .data .time {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  align-items: center;
  top: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--Primary, #fff);
}
.section .music .music__text .data .time h6 {
  color: var(--Text2, #000);
  padding-top: 10px;
  /* Title/16PX Semibold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.section .music .music__text .data .time p {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 163.636% */
}
.section .music .music__text button {
  display: block;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: none;
  gap: 10px;
  border-radius: 4px;
  background: var(--Button1, #0f6);
}
.section .music .music__text button p {
  color: var(--Text, #fafafa);
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .music .music__text button:hover {
  cursor: pointer;
  scale: 1.05;
}
.section .music .music__img {
  margin-top: 80px;
  margin-right: 50px;
}
.section .music .music__img img {
  width: 568px;
  z-index: 555;
  opacity: 6;
  height: 330px;
  background-color: transparent;
  flex-shrink: 0;
}
.section .featured {
  margin-top: 60px;
}
.section .featured .__featured {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section .featured .__featured p {
  color: var(--Secondary-2, #db4444);
  /* Title/16PX Semibold */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.section .featured .new__arrial {
  margin-top: 30px;
}
.section .featured .new__arrial h1 {
  color: var(--Text2, #000);
  /* Heading/36PX SemiBold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
}
.section .featured .arrial__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
}
.section .featured .arrial__cards .left__cards {
  border-radius: 4px;
  background: var(--Button, #000);
}
.section .featured .arrial__cards .left__cards img {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  margin-top: 89px;
  margin-left: 29px;
  align-items: center;
  justify-content: center;
}
.section .featured .arrial__cards .left__cards .playstation__text {
  margin-top: -150px;
  margin-left: 32px;
}
.section .featured .arrial__cards .left__cards .playstation__text h2 {
  color: var(--Text, #fafafa);
  /* Heading/24PX SemiBold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.section .featured .arrial__cards .left__cards .playstation__text p {
  color: var(--Text, #fafafa);
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 14px;
  line-height: 21px; /* 150% */
  padding-top: 16px;
}
.section .featured .arrial__cards .left__cards .playstation__text .shop__cards {
  color: #fff;
  position: relative;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
}
.section .featured .arrial__cards .left__cards .playstation__text .shop__cards::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgb(250, 247, 247);
  transition: width 0.3s ease;
}
.section .featured .arrial__cards .left__cards .playstation__text .shop__cards:hover::before {
  width: 100%;
}
.section .featured .arrial__cards .right__cards .__top {
  border-radius: 4px;
  background: #0d0d0d;
  display: flex;
  flex-wrap: wrap;
}
.section .featured .arrial__cards .right__cards .__top img {
  margin-left: 154px;
}
.section .featured .arrial__cards .right__cards .__top .top__text {
  padding-top: 138px;
  margin-left: -550px;
  flex-wrap: wrap;
  z-index: 555;
}
.section .featured .arrial__cards .right__cards .__top .top__text h1 {
  color: var(--Text, #fafafa);
  /* Heading/24PX SemiBold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.section .featured .arrial__cards .right__cards .__top .top__text p {
  color: var(--Text, #fafafa);
  /* Title/14PX Regular */
  font-family: Poppins;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__top .top__text .shop__cards {
  color: #fff;
  position: relative;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  padding-top: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__top .top__text .shop__cards::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgb(250, 247, 247);
  transition: width 0.3s ease;
}
.section .featured .arrial__cards .right__cards .__top .top__text .shop__cards:hover::before {
  width: 100%;
}
.section .featured .arrial__cards .right__cards .__bottom {
  display: flex;
  padding-top: 32px;
  gap: 30px;
}
.section .featured .arrial__cards .right__cards .__bottom .speakers {
  width: 284px;
  height: 284px;
  border-radius: 4px;
  background: var(--Text2, #000);
}
.section .featured .arrial__cards .right__cards .__bottom .speakers img {
  padding: 32px 40px;
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text {
  margin-top: -110px;
  padding-left: 32px;
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text h1 {
  color: var(--Text, #fafafa);
  /* Heading/24PX SemiBold */
  font-family: Inter;
  font-size: 24px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text p {
  color: var(--Text, #fafafa);
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text .shop__cards {
  color: #fff;
  position: relative;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text .shop__cards::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgb(250, 247, 247);
  transition: width 0.3s ease;
}
.section .featured .arrial__cards .right__cards .__bottom .speakers .speak__text .shop__cards:hover::before {
  width: 100%;
}
.section .featured .arrial__cards .right__cards .__bottom .parfume {
  width: 284px;
  height: 284px;
  border-radius: 4px;
  background: var(--Text2, #000);
}
.section .featured .arrial__cards .right__cards .__bottom .parfume img {
  padding: 32px 40px;
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text {
  margin-top: -95px;
  padding-left: 32px;
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text h1 {
  color: var(--Text, #fafafa);
  /* Heading/24PX SemiBold */
  font-family: Inter;
  font-size: 24px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text p {
  color: var(--Text, #fafafa);
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text .shop__cards {
  color: #fff;
  position: relative;
  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text .shop__cards::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgb(250, 247, 247);
  transition: width 0.3s ease;
}
.section .featured .arrial__cards .right__cards .__bottom .parfume .parfum__text .shop__cards:hover::before {
  width: 100%;
}
.section .service {
  display: flex;
  align-items: flex-start;
  gap: 95px;
  margin-top: 140px;
  text-align: center;
  justify-content: center;
}
.section .service img {
  margin-bottom: 16px;
  margin-top: 20px;
}
.section .service img h4 {
  color: #000;
  /* Title/20PX Semibold */
  font-family: Poppins;
  font-size: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.section .service img p {
  color: #000;
  text-align: center;
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.section .service button {
  align-items: center;
}

footer {
  margin-top: 140px;
  background: var(--Button, #000);
}
footer .footer__link__list {
  display: flex;
  padding-top: 80px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 67px;
}
footer .footer__link__list div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
footer .footer__link__list div .logo__link > svg {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
footer .footer__link__list div h2 > a {
  color: var(--Text, #fafafa);
  /* Title/20PX Medium */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
footer .footer__link__list div h5 > a {
  color: var(--Text, #fafafa);
  /* Title/20PX Medium */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
footer .footer__link__list div p {
  color: var(--Text, #fafafa);
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
footer .footer__link__list div p > a {
  color: var(--Text, #fafafa);
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
footer .footer__link__list div input {
  display: flex;
  width: 217px;
  padding: 12px 0px 12px 16px;
  align-items: center;
  gap: 32px;
  background-color: transparent;
  color: var(--Text, #fafafa);
  border-radius: 4px;
  border: 1.5px solid var(--Text, #fafafa);
}
footer .bottom__footer {
  margin-top: 60px;
}
footer .bottom__footer p {
  color: var(--Primary, #fff);
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 1170px) {
  .nav__list {
    display: none !important;
  }
  .flex__top-header__text {
    font-size: 10px !important;
    font-weight: 300px;
  }
}
@media screen and (max-width: 768.9px) {
  .product__card {
    display: block !important;
    flex-wrap: wrap !important;
  }
  .product__card .wrapper {
    display: block !important;
  }
  .navbar {
    margin-top: -50px;
  }
  .view__all {
    justify-content: flex-start !important;
  }
  .music {
    max-width: 100%;
    display: block !important;
    flex-wrap: wrap !important;
  }
  .music h1 {
    font-size: 16px !important;
  }
  .music .data {
    max-width: 100%;
    flex-wrap: wrap !important;
  }
  .music .music__img {
    display: none;
  }
  .arrial__cards {
    max-width: 100% !important;
    flex-wrap: wrap !important;
  }
  .arrial__cards .__bottom {
    display: block !important;
    flex-wrap: wrap !important;
  }
  .arrial__cards .__bottom .speakers {
    margin-bottom: 20px !important;
  }
  .arrial__cards .__bottom .__top {
    max-width: 100% !important;
    display: block !important;
    flex-wrap: wrap !important;
  }
  .arrial__cards .__bottom .__top img {
    margin-left: 0 !important;
    display: block !important;
  }
  .service {
    display: block !important;
  }
}/*# sourceMappingURL=index.css.map */